name: Unit Tests

on:
  pull_request:

jobs:
  update:
    name: Update Submodule
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Project
        run: |
          mkdir ./build/ && cd ./build/
          cmake .. -G "Unix Makeflies" -DENABLE_TESTS=ON -DENABLE_COVERAGE=ON
          cmake --build .

      - name: Run Tests
        run: ctest --output-on-failure
